/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black;
    color: white;
    font-family: 'Monserrat', sans-serif;
}

a {
    color: inherit;
    /* padding: inherit; */
    text-decoration: none;
}

/* HEADER */
.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link:hover {
    text-decoration: underline;
}

/* MAIN */

.main {
    background-color: darkslategrey;
    background-image: linear-gradient(to bottom, #062d14, black);
    padding: 20px;
    margin: 0px 10px 10px;
    border-radius: 15px;
    flex:1
}

/* LISTA DE ITENS */

.item-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-list__header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-list__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item-list__link:hover{
    text-decoration: underline;
}

/* ITEM UNICO */

.single-item{

}